{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong class="text-dark">{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<section class="py-lg-80 py-30 overflow-xh">
 
  <div class="container">
    <div class="row justify-content-center">
              <div class="row">
                  <div class="col-12 ">
                      <div class="box">
                            <div class="box-header with-border">
                              <h4 class="box-title">Crypto Market Indicators</h4>
                            </div>
                            <div class="box-body">
                                
                                  <table id="indicators" class="table" style="width:100%">
                                          <thead>
                                            <tr role="row">
                                            <th class="text-right">Rank </th>
                                            <th class="text-right">Crypto </th>
                                            <th class="text-right">Price </th>
                                            <th class="text-right">MarketCap(M) </th>
                                            <th class="text-right">Breakeven</th>
                                            <th class="text-right">Inflation</th>
                                            <th class="text-right">ATH </th>
                                            <th class="text-right">ATH% </th>                         
                                            <th class="text-right">Price Low </th>                                           
                                            <th class="text-right">Since low% </th>
                                            <th class="text-right">Change% (24H) </th>
                                            {% comment %} <th class="text-right">Change% (7D)</th> {% endcomment %}
                                         
                                            
                                           
                                            </tr>
                                          </thead>
                                          <tbody>
                                            {% for asset in assets %}
                                          
                                              <tr>
                                                <td>{{asset.metrics.marketcap.rank}}</td>
                                                <td>
                                                   <a href="coin_detail/{{asset.symbol}}" class="hover-warning">{{asset.name}}</a> 
                                                </td>
                                                  <td>${{asset.metrics.market_data.price_usd|floatformat:"3g"}}</td>
                                                  <td>${{asset.metrics.marketcap.current_marketcap_usd|floatformat:"2g"}}</td>
                                                  <td>{{asset.metrics.all_time_high.breakeven_multiple|floatformat:"2g"}}</td>
                                                  {% if asset.metrics.supply.annual_inflation_percent%}
                                                  <td>{{asset.metrics.supply.annual_inflation_percent|floatformat:"2g"}}%</td>
                                                  {%else %}
                                                  <td>-</td>        
                                                  {%endif%}                                                  
                                                  <td>${{asset.metrics.all_time_high.price|floatformat:"2g"}}</td>                                                                                                                                                 
                                                  <td>{{asset.metrics.all_time_high.percent_down|floatformat:"1g"}}%</td>                                                      
                                                  <td>${{asset.metrics.cycle_low.price|floatformat:"2g"}}</td>
                                                  <td>{{asset.metrics.cycle_low.percent_up|floatformat:"2g"}}%</td>
                                                 
                                                  {%if asset.metrics.market_data.percent_change_usd_last_24_hours > 0 %}                                                                       
                                                  <td class="no-wrap text-right" style="color:#4293FF">&nbsp<i class="fa fa-chevron-up"></i>&nbsp {{asset.metrics.market_data.percent_change_usd_last_24_hours|floatformat:"2g"}}</td>
                                                  {% else %}            
                                                  <td class="no-wrap text-right" style="color:#FF0000">&nbsp<i class="fa fa-chevron-down"></i> &nbsp  {{asset.metrics.market_data.percent_change_usd_last_24_hours|floatformat:"2g"}}</td>
                                                  {%endif%}
                                               
                                              </tr>
                                            {% endfor %} 

                                          </tbody>
                                    </table>
                                
                            </div>
                          <!-- /.box-body -->
                        </div>
                  </div>
              </div>
    
    </div>
  </div>

  
</section>
	
  
{% endblock %}